@font-face {
  font-family: 'Mojangles';
  src: url('/assets/font/Mojang-Regular[1].ttf') format('truetype');
}

body,
html {
  word-spacing: 5px;
  user-select: none;
  font-family: 'Mojangles', sans-serif;
}

button {
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 375px;
  left: 50%;
  margin-top: -50px;
  margin-left: -250px;
  width: 500px;
  height: 100px;
}

.buttons button {
  text-shadow: 1px 1px 0px #1f1f1f;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  border: none;
  width: 500px;
  height: 50px;
  background: url(/assets/ui/gui/button.png);
  background-size: 500px 50px;
  font-family: 'Mojangles', sans-serif;
  image-rendering: pixelated;
}

.buttons button::active {
  border: none;
  outline: none;
}

.buttons button:hover {
  image-rendering: pixelated;
  background: url(/assets/ui/gui/button_selected.png);
  background-size: 500px 50px;
  color: yellow;
}

.panorama {
  position: fixed;
  top: 0px;
  left: 0px;
  background: url(/assets/ui/menu/panorama.png);
  width: 100vw;
  height: 100vh;
  background-size: 6150px 1080px;
  background-position: 0px;
  z-index: -1;
}

.preload-images {
  position: fixed;
  pointer-events: none;
  opacity: 0%;
}

.title {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

.splashText {
  font-size: 23px;
  rotate: -20deg;
  position: fixed;
  top: 200px;
  left: calc(50% + 125px);
  transform: translateX(-50%);
  color: yellow;
  text-shadow: 3px 3px 0px #444d00;
  animation: splashtext 1s ease-in-out infinite;
}

@keyframes splashtext {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

.loader {
  display: flex;
  top: 0px;
  left: 0px;
  position: fixed;
  background: white;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 75vw;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.selectBtn {
  image-rendering: pixelated;
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 50px;
}

.select {
  color: white;
  position: fixed;
  bottom: 30px;
  left: 80px;
}

.backBtn {
  image-rendering: pixelated;
  position: fixed;
  bottom: 30px;
  left: 170px;
  width: 50px;
}

.back {
  color: white;
  position: fixed;
  bottom: 30px;
  left: 220px;
}

.worlds-menu {
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 647.5px;
  background: url(/assets/ui/menu/worlds/worlds-menu-left.png);
  background-size: 700px 647.5px;
  image-rendering: pixelated;
  background-repeat: no-repeat;
}

.menu-button-left {
  cursor: pointer;
  border: none;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(calc(-50% - 235px));
  width: 230px;
  height: 60px;
  background: none;
  text-align: center;
  font-family: 'Mojangles', sans-serif;
  font-size: 16px;
  color: #616161;
}

.menu-button-center {
  cursor: pointer;
  border: none;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 60px;
  background: none;
  text-align: center;
  font-family: 'Mojangles', sans-serif;
  font-size: 16px;
  color: #616161;
}

.menu-button-right {
  cursor: pointer;
  border: none;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(calc(-50% + 235px));
  width: 230px;
  height: 60px;
  background: none;
  text-align: center;
  font-family: 'Mojangles', sans-serif;
  font-size: 16px;
  color: #616161;
}

.menu-button-left p, .menu-button-center p, .menu-button-right p {
  margin-top: 25px;
}

.world-item {
  display: flex;
  text-shadow: 1px 1px 0px #1f1f1f;
  font-size: 15px;
  color: white;
  margin-bottom: 0px;
  border: none;
  width: 590px;
  height: 59px;
  background: url(/assets/ui/gui/button.png);
  background-size: 590px 59px;
  font-family: 'Mojangles', sans-serif;
  image-rendering: pixelated;
}

.world-item:hover {
  image-rendering: pixelated;
  background: url(/assets/ui/gui/button_selected.png);
  background-size: 590px 59px;
  color: yellow;
}

.new-world-btn {
  display: flex;
  text-shadow: 1px 1px 0px #1f1f1f;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  border: none;
  width: 590px;
  height: 59px;
  background: url(/assets/ui/gui/button.png);
  background-size: 590px 59px;
  font-family: 'Mojangles', sans-serif;
  image-rendering: pixelated;
}

.new-world-btn:hover {
  image-rendering: pixelated;
  background: url(/assets/ui/gui/button_selected.png);
  background-size: 590px 59px;
  color: yellow;
}

.new-world-btn p {
  text-align: center;
  transform: translate(245px, 5px);
}

.content {
  transform: translateY(120px) translateX(55px);
  width: 590px;
}

.world-item .name {
  transform: translateY(8px) translateX(30px);
}

#world-icon {
  width: 40px;
  height: 40px;
  transform: translate(10px, 10px);
}

.new-world {
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(calc(-50% - 200px));
  width: 700px;
  height: 647.5px;
  background: url(/assets/ui/menu/worlds/new-world.png);
  background-size: 700px 647.5px;
  image-rendering: pixelated;
  background-repeat: no-repeat;
}

.texture-preview {
  color: white;
  position: fixed;
  top: 20px;
  left: calc(50% + 276px);
  transform: translateX(calc(-50% + 300px));
  width: 450px;
  height: 605px;
  background: rgba(128, 128, 128, 0.5);
  border: 4px solid white;
  border-radius: 3px;
  border-left: none;
}

.new-world .title {
  font-size: 17px;
  color: #454545;
  margin-top: -70px;
  margin-left: -20px;
}

.new-world input {
  background: #9c9c9c;
  color: white;
  font-family: 'Mojangles', sans-serif;
  margin-left: 30px;
  width: 632px;
  height: 35px;
  margin-top: 60px;
  border: 3.5px solid gray;
  font-size: 15px;
}

.new-world input:focus {
  border: 3.5px solid yellow;
  background: #989ec3;
  outline: none;
}

.gamemode-toggle {
  cursor: pointer;
  background: url(/assets/ui/gui/toggle_off.png);
  background-size: 641px 45px;
  width: 641px;
  height: 45px;
  margin-top: 17px;
  margin-left: 30px;
  color: white;
  text-align: center;
}

.gamemode-toggle p {
  transform: translateY(15px);
}

.world-generation-toggle {
  cursor: pointer;
  background: url(/assets/ui/gui/toggle_off.png);
  background-size: 641px 45px;
  width: 641px;
  height: 45px;
  margin-top: 17px;
  margin-left: 30px;
  color: white;
  text-align: center;
}

.world-generation-toggle p {
  transform: translateY(15px);
}

.texture-icon {
  width: 90px;
  image-rendering: pixelated;
  margin: 15px;
}

.texture-name {
  color: white;
  display: flex;
}

.texture-name p {
  transform: translateY(5px);
}

.texture-description {
  line-height: 1.5;
  margin-left: 15px;
}

.texture-pack-preview {
  width: 417px;
  height: 240px;
  margin-left: 15px;
  background: blue;
  background: url(/assets/ui/menu/worlds/default-texture.png);
  background-size: 417px 240px;
  position: fixed;
  bottom: 15px;
  border: 4px solid white;
}

.createWorld {
  text-shadow: 1px 1px 0px #1f1f1f;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  border: none;
  width: 632px;
  height: 63.2px;
  background: url(/assets/ui/gui/button.png);
  background-size: 632px 63.2px;
  font-family: 'Mojangles', sans-serif;
  image-rendering: pixelated;
  margin-top: 325px;
  margin-left: 32px;
}

.createWorld::active {
  border: none;
  outline: none;
}

.createWorld:hover {
  image-rendering: pixelated;
  background: url(/assets/ui/gui/button_selected.png);
  background-size: 632px 63.2px;
  color: yellow;
}