@font-face {
  font-family: 'Mojangles';
  src: url('/assets/font/Mojang-Regular[1].ttf') format('truetype');
}

* {
  cursor: none;
}

body,
html {
  word-spacing: 8px;
  cursor: url('/assets/ui/cursor.cur') !important;
  user-select: none;
  font-family: 'Mojangles', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  opacity: 100% !important;
  word-spacing: 8px;
  text-shadow: 1px 1px 0px #1f1f1f;
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  border: none;
  width: 500px;
  height: 50px;
  background: url(/assets/ui/gui/button.png);
  background-size: 500px 50px;
  font-family: 'Mojangles', sans-serif;
  image-rendering: pixelated;
}

button::active {
  border: none;
  outline: none;
}

button:hover {
  image-rendering: pixelated;
  background: url(/assets/ui/gui/button_selected.png);
  background-size: 500px 50px;
  color: yellow;
}

.cursor {
  z-index: 10000;
  position: fixed;
  background: url(/assets/ui/cursor.png);
  background-size: 50px 50px;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.overlay {
  display: flex;
  top: 0px;
  left: 0px;
  position: fixed;
  background: white;
  opacity: 10%;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.deathscreen {
  display: none;
  top: 0px;
  left: 0px;
  position: fixed;
  background: url(/assets/ui/deathscreen/deathscreen.png);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.deathreason {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 22px;
}

.respawn-button {
  position: fixed;
  top: calc(50% + 120px);
  left: 50%;
  transform: translateX(-50%);
}

.exit-game-button {
  position: fixed;
  top: calc(50% + 150px);
  left: 50%;
  transform: translateX(-50%);
}

#coordinates {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#fps {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#cardinal-direction {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 30px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.crosshair {
  image-rendering: pixelated;
  position: absolute;
  width: 35px;
  height: 35px;
  mix-blend-mode: screen;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#hotbar {
  display: flex;
  margin-bottom: 10px;
}

.selected-slot {
  background: url(/assets/ui/gui/hotbar-selected.png);
  transform: translateY(-3px) translateX(-510px);
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
}

.hotbar-block {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transform: scale(25%) translateY(-460px) translateX(-433px);
}

.hotbar-block-face {
  transform-origin: 0 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

.hotbar-block-right {
  background-image: url(/assets/blocks/dirt.png);
  image-rendering: pixelated;
  background-size: 100px 100px;
  transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
  filter: brightness(0.75);
}

.hotbar-block-top {
  background-image: url(/assets/blocks/dirt.png);
  image-rendering: pixelated;
  background-size: 100px 100px;
  transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
}

.hotbar-block-left {
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
  filter: brightness(0.5);
  overflow: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
}

.hotbar-block-left .rotated-bg {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  transform: rotate(270deg);
  image-rendering: pixelated;
}

.item-name-hotbar-preview {
  position: fixed;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0%;
  transition: .5s ease-in-out;
  text-shadow: 1px 1px 0px black;
}

.slot {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  margin-right: 5px;
}

#items {
  display: flex;
  flex-wrap: wrap;
  width: 300px; /* Adjust the width to fit your needs */
  padding: 5px;
}

.item {
  width: 50px;
  height: 50px;
  background-color: #999;
  margin: 5px;
}

.hotbar {
  background: url(/assets/ui/gui/hotbar.png);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 71.25px;
  background-size: 600px 71.25px;
  image-rendering: pixelated;
  display: flex;
  opacity: 70%;
}

.hotbar .item-one, .hotbar .item-two, .hotbar .item-three, .hotbar .item-four, .hotbar .item-five, .hotbar .item-six, .hotbar .item-seven, .hotbar .item-eight, .hotbar .item-nine {
  background: none;
  width: 52.5px;
  height: 52.5px;
  margin: 3.75px;
  margin-right: 0px;
}

.xpbar {
  background: url(/assets/ui/gui/icons.png);
  position: fixed;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%) scale(328%);
  width: 182px;
  height: 5px;
  background-size: 256px 256px; 
  background-position: 0px -64px;
  image-rendering: pixelated;
  background-repeat: no-repeat;
}

.xp-counter {
  font-size: 23px;
  position: fixed;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: #cae676;
  text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#health-bar-container {
  position: fixed;
  left: 50%;
  transform: translateX(calc(-50% - 168px)) scale(81%);
  bottom: 115px;
  display: flex; /* Arranges heart containers in a row */
  gap: 0px;
  padding: 10px;
}

.heart-container {
  background: url(/assets/ui/gui/heart_container.png);
  background-size: 32px 32px;
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container img {
  image-rendering: pixelated;
  width: 25px; /* Make image fill its container */
  height: 25px;
}

#hunger-bar-container {
  position: fixed;
  left: 50%;
  transform: translateX(calc(-50% + 168px)) scale(81%);
  bottom: 116px;
  display: flex; /* Arranges hunger containers in a row */
  gap: 0px; /* Space between hunger containers */
  padding: 10px;
}

.hunger-container {
  background: url(/assets/ui/gui/hunger_container.png);
  background-size: 32px 32px;
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hunger-container img {
  image-rendering: pixelated;
  width: 25px; /* Make image fill its container */
  height: 25px;
}

.hand {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 200px;
  transition: 0s;
  opacity: 300px;
  width: 200px;
  image-rendering:crisp-edges;
  height: 200px;
  animation: bob 5s ease-in infinite;
}

.hand-3d {
  position: fixed;
  bottom: -20px;
  right: 200px;
  transition: 0s;
  opacity: 300px;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(230deg) rotateZ(-90deg) scaleY(2.5) scaleX(6) scaleZ(2.5);
  animation: bob 5s ease-in infinite;
}

.hand div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0%;
}

.left {
  image-rendering: pixelated;
  transition: 2s ease-in;
  transform: translateZ(-50px) perspective(10px);
  background: url(/assets/ui/hand_left.png);
  background-size: 50px 50px;
}

.right {
  image-rendering: pixelated;
  transition: 2s ease-in;
  transform: rotateX(90deg) translateY(-0.2px);
  transform-origin: bottom;
  background: url(/assets/ui/hand_right.png);
  background-size: 50px 50px;
}

@keyframes bob {
  0% {
    right: 200px;
    bottom: -25px;
  }
  25% {
    right: 225px;
    bottom: -10px;
  }
  50% {
    right: 200px;
    bottom: -25px;
  }
  75% {
    right: 175px;
    bottom: -10px;
  }
  100% {
    right: 200px;
    bottom: -25px;
  }
}

.chat {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40%;
  height: 40px;
  border: 3px solid white;
  background: black;
  color: white;
  opacity: 75%;
  font-family: 'Mojangles', sans-serif;
}

.chat-logs {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 40%;
  height: 50%;
  border: 3px solid white;
  background: black;
  color: white;
  opacity: 75%;
  font-family: 'Mojangles', sans-serif;
}

.held-block {
  transform: rotateX(160deg) rotateY(0deg) rotateZ(160deg) translateY(1000px) translateX(-65px) scale(250%) scaleZ(210%);
  z-index: 5;
  transition: 0s;
  opacity: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -30px;
  right: -20px;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.held-block-face {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0%;
}

.held-block-top {
  image-rendering: pixelated;
  transition: 2s ease-in;
  transform: translateZ(-199px);
  background-image: url(/assets/blocks/dirt.png);
  background-size: 200px 200px;
}

.held-block-left {
  transition: 2s ease-in;
  image-rendering: pixelated;
  transform: translateX(-1px) rotateX(90deg);
  transform-origin: bottom;
  background-image: url(/assets/blocks/dirt.png);
  background-size: 200px 200px;
  filter: brightness(0.75);
}