@font-face {
  font-family: 'Mojangles';
  src: url('/assets/font/Mojang-Regular[1].ttf') format('truetype');
}

body,
html {
  user-select: none;
  font-family: 'Mojangles', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#coordinates {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#fps {
  font-family: 'Mojangles', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.crosshair {
  image-rendering: pixelated;
  position: absolute;
  width: 35px;
  height: 35px;
  mix-blend-mode: screen;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


#inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#hotbar {
  display: flex;
  margin-bottom: 10px;
}

.slot {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  margin-right: 5px;
  cursor: pointer;
}

#items {
  display: flex;
  flex-wrap: wrap;
  width: 300px; /* Adjust the width to fit your needs */
  border: 1px solid #aaa; /* Add a border for visibility */
  padding: 5px;
}

.item {
  width: 50px;
  height: 50px;
  background-color: #999;
  margin: 5px;
}

.selected {
  border: 2px solid red;
}

.hotbar {
  background: url(/assets/ui/gui/hotbar.png);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 47.5px;
  background-size: 400px 47.5px;
  image-rendering: pixelated;
  display: flex;
}

.hotbar .item-one, .hotbar .item-two, .hotbar .item-three, .hotbar .item-four, .hotbar .item-five, .hotbar .item-six, .hotbar .item-seven, .hotbar .item-eight, .hotbar .item-nine {
  background: none;
  width: 40px;
  height: 40px;
  margin: 3.75px;
  margin-right: 0px;
}

.hand {
  position: fixed;
  bottom: 200px;
  right: 200px;
  transition: 0s;
  opacity: 300px;
  width: 200px;
  image-rendering:crisp-edges;
  height: 200px;
  animation: bob 5s ease-in infinite;
}

.hand-3d {
  position: fixed;
  bottom: -20px;
  right: 200px;
  transition: 0s;
  opacity: 300px;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(230deg) rotateZ(-90deg) scaleY(2.5) scaleX(6) scaleZ(2.5);
  animation: bob 5s ease-in infinite;
}

.hand div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0%;
}

.left {
  image-rendering: pixelated;
  transition: 2s ease-in;
  transform: translateZ(-50px) perspective(10px);
  background: url(/assets/ui/hand_left.png);
  background-size: 50px 50px;
}

.right {
  image-rendering: pixelated;
  transition: 2s ease-in;
  transform: rotateX(90deg) translateY(-0.2px);
  transform-origin: bottom;
  background: url(/assets/ui/hand_right.png);
  background-size: 50px 50px;
}

@keyframes bob {
  0% {
    right: 200px;
    bottom: -25px;
  }
  25% {
    right: 225px;
    bottom: -10px;
  }
  50% {
    right: 200px;
    bottom: -25px;
  }
  75% {
    right: 175px;
    bottom: -10px;
  }
  100% {
    right: 200px;
    bottom: -25px;
  }
}

.chat {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40%;
  height: 40px;
  border: 3px solid white;
  background: black;
  color: white;
  opacity: 75%;
  font-family: 'Mojangles', sans-serif;
}

.chat-logs {
  z-index: 1000;
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 40%;
  height: 50%;
  border: 3px solid white;
  background: black;
  color: white;
  opacity: 75%;
  font-family: 'Mojangles', sans-serif;
}